<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Polish_ProductLabel::list" title="Product Labels" translate="title" module="Polish_ProductLabel" sortOrder="30" parent="Magento_Catalog::inventory" action="product_label/" resource="Polish_ProductLabel::list"/>
    </menu>
</config>
